body
{
   width: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   position: relative;
}

.map-wrapper
{
    width: 100%;
    position: absolute;
    z-index: 1;
}

#map 
{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.user-list
{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-left: auto;
}

.user-card
{
    display: flex;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.2);
    cursor: pointer;
}

.user-card:hover{
    background-color: #F7F7F7;
}

.user-wrap
{
    display: flex;
}

.user-avatar
{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    margin-top: 16px;
    margin-left: 8px;
}

.user-avatar-img
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.user-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    word-wrap: break-word;
    width: 170px;
}

.user-description-wrap
{
    margin-left: 16px;
    padding-right: 8px;
}

.user-email, .user-url
{
    width: 170px;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    word-wrap: break-word;
}

.user-url:link
{
  color: #000000;  
}

.user-url:visited
{
    color: #8F8F8F;
}